$roboto: Roboto, sans-serif;
$blueBg: linear-gradient(
  180deg,
  rgba(99, 119, 225, 1) 0%,
  rgba(41, 32, 165, 1) 100%
);
$blueNumBg: linear-gradient(
  180deg,
  rgba(41, 32, 165, 1) 0%,
  rgba(99, 119, 225, 1) 100%
);
$pinkBg: linear-gradient(
  180deg,
  rgba(225, 99, 225, 1) 0%,
  rgba(116, 21, 149, 1) 100%
);
$borderBlue: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.32) 0%,
  rgba(71, 95, 223, 1) 100%
);
$numGreenBg: linear-gradient(
  180deg,
  rgba(1, 77, 29, 1) 0%,
  rgba(85, 206, 0, 1) 100%
);
$numGreenBorder: linear-gradient(
  180deg,
  rgba(1, 77, 29, 1) 0%,
  rgba(85, 206, 0, 1) 51%
);
$greenMainBg: linear-gradient(
  180deg,
  rgba(85, 206, 0, 1) 0%,
  rgba(1, 77, 29, 1) 100%
);
$borderPink: linear-gradient(
  180deg,
  rgba(116, 21, 149, 1) 0%,
  rgba(225, 99, 225, 1) 54%
);
$bgPinkNum: linear-gradient(
  180deg,
  rgba(116, 21, 149, 1) 0%,
  rgba(225, 99, 225, 1) 100%
);
$mainBg: linear-gradient(
  180deg,
  rgba(107, 125, 222, 0.12088585434173671) 0%,
  rgba(41, 33, 165, 1) 59%
);
$mainBgBorder: linear-gradient(
  180deg,
  rgba(107, 125, 222, 0.3) 0%,
  rgba(41, 33, 165, 1) 100%
);
$borderNums: linear-gradient(
  180deg,
  rgba(41, 32, 165, 1) 0%,
  rgba(99, 119, 225, 1) 50%
);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $roboto;
  font-weight: bold;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

@mixin block($bgColor) {
  @include flex-column();
  position: relative;
  width: 419px;
  height: 352px;
  background: $bgColor;
  border-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  z-index: 3;
}

@mixin border($border-color) {
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    background: $border-color;
    border-radius: 20px;
    z-index: -1;
  }
}

@mixin borderNum($border-color) {
  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    background: $border-color;
    border-radius: 50px;
    z-index: -1;
  }
}

@mixin arrows() {
  position: absolute;
  right: -55px;
  top: 30%;
  z-index: 500;
}

@mixin num($bg-color) {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  color: #ffffff;
  background: $bg-color;
}

@mixin img() {
  position: absolute;
  bottom: -50px;
  left: 50px;
}
.main-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-block__header {
  font-family: $roboto;
  font-size: 24px;
  padding-left: 26px;
}

.main-block__blocks {
  @include flex-row();
  position: relative;
  z-index: 100;
  background: $mainBg;
  padding: 10px;
  gap: 8px;
  border-radius: 20px;
  @include border($mainBgBorder);
  box-shadow: 0px 19px 33px 4px rgba(23, 43, 151, 0.72);
}

.blue {
  @include block($blueBg);
  cursor: pointer;
  align-items: start;
  justify-content: start;
  border: 3px solid #7d97ff;
  transition: 0.09s;
}

.main-section {
  @include flex-column();
  width: 100%;
}
.block-head {
  @include flex-row();
  font-size: 24px;
  color: #ffffff;
  gap: 16px;
  padding-left: 20px;
  padding-top: 20px;
}

.block-head_h2 {
  font-size: 20px;
}

.block-head__num {
  @include num($blueNumBg);
  @include flex-column();
  @include borderNum($borderNums);
}
.arrowMob {
  display: none;
}
.images {
  @include img();
}

.arrows {
  @include arrows();
}

.pink {
  @include block($pinkBg);
  align-items: start;
  justify-content: start;
  border: 3px solid #db5fdd;
  z-index: 2;
  transition: 0.09s;
}

.pinkNum {
  @include num($bgPinkNum);
  @include flex-column();
  @include borderNum($borderPink);
}

.img2 {
  left: 10px;
  bottom: -70px;
}

.green {
  @include block($greenMainBg);
  align-items: start;
  justify-content: start;
  border: 3px solid #6ccb29;
  z-index: 1;
  transition: 0.09s;
}

.greenNum {
  @include num($numGreenBg);
  @include flex-column();
  @include borderNum($numGreenBorder);
}

.blue:hover {
  border: 8px solid #7d97ff;
}

.pink:hover {
  border: 8px solid #db5fdd;
}

.green:hover {
  border: 8px solid #6ccb29;
}

.button {
  @include flex-row();
  background: linear-gradient(180deg, rgba(93,196,22,1) 0%, rgba(54,123,5,1) 100%);
  margin-top: 80px;
  padding: 12px 16px 12px 16px;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  border-radius: 15px;
  border: 4px solid #95FF4B;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0px 0px 0px 5px rgba(149, 255, 75, 0.42);
  transition: 0.2s;
}

.button:hover {
  box-shadow: 0px 0px 0px 10px rgba(149, 255, 75, 0.42);
}

.button:active {
  box-shadow: 0px 0px 0px 3px rgba(149, 255, 75, 0.42);
  background: linear-gradient(0deg, rgba(93,196,22,1) 0%, rgba(54,123,5,1) 100%);
}

@media screen and (max-width: 400px) and (min-width: 320px) {
  .arrows {
    display: none;
  }
  .block {
    max-width: 320px;
    max-height: 300px;
    position: relative;
    z-index: 1;
  }
  .main-block {
    padding: 5px;
    max-width: 320px;
  }
  .images {
    max-width: 300px;
    left: 10px;
  }
  .img2 {
    left: -5px;
  }
  .main-block__header {
    padding-left: 5px;
  }
  body {
    overflow-x: hidden;
  }
  .block-head {
    padding-left: 9px;
    padding-top: 15px;
    gap: 8px;
    flex-wrap: nowrap;
  }
  .blue .images {
    left: 6px;
    bottom: -50px;
    max-width: 270px;
  }
  .pink {
    z-index: 10;
  }
  .pink .images {
    bottom: -45px;
    z-index: -2;
    left: -16px;
  }

  .green {
    z-index: 11;
  }
  .arrowMob {
    display: block;
    width: 0;
    height: 0;
    position: relative;
    z-index: 999999999;
  }
  .arrowMobImg {
    position: absolute;
    top: -40px;
    right: -140px;
  }
}